@font-face {
  font-family: 'Gascogne';
  src: local('GascogneTS-light'), local('GascogneTS-light'),
  url('../../media/fonts/Gascogne-Serial-Light-Regular.woff2') format('woff2'),
  url('../../media/fonts/Gascogne-Serial-Light-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
